doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalise.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
    script(src='http://code.jquery.com/jquery-latest.min.js')
    script(src='/javascripts/validate.js')
  body
    block content